@use "../../../styles";

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  pointer-events: none !important;
  > * {
    pointer-events: auto;
  }
}

app-control-button:not(:last-child) {
  margin-bottom: styles.$space-base * 0.75;
}
