@use "../../../styles";

:host {
  @extend .shadow;

  display: flex;
  flex-direction: column;
  position:relative;

  background-color: styles.$color-background;
  border-radius: styles.$border-radius;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: styles.$space-small;
  margin-right: styles.$space-small;
}

.dummy {
  display: block;
  width: 300px;
  height: 300px;
}
