@use "../../../../styles";

:host {
  @extend .shadow;

  display: flex;
  flex-direction: column;
  position: relative;

  background-color: styles.$color-background;
  border-radius: styles.$border-radius;

  min-width: 250px;
  overflow: hidden;
}

h3 {
  margin-bottom: styles.$space-base;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: styles.$space-small;
  margin-right: styles.$space-small;
}

app-feature-selection-menu {
  //margin-bottom: styles.$space-base;
}

.dummy {
  display: block;
  width: 300px;
  height: 300px;
}
