@use "../../../../styles";

:host {
  overflow-y: auto;
  overflow-x: hidden;
}

.statistic-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: styles.$space-base;
}

.attribute-table-wrapper {
  display: flex;
}
