<app-icon-button class="close-button"
                 [shadow]="true"
                 [iconName]="expanded ? 'chevron-up' : 'chevron-down'"
                 (click)="expanded = !expanded">
</app-icon-button>
<h3 class="extra-margin" [class.no-bottom-margin]="!expanded">Legend</h3>
<div [hidden]="!expanded" class="content">
  <div *ngFor="let layer of layers" class="layer-list-wrapper">
    <div class="layer-name">
      <lucide-angular name="layers-2"></lucide-angular>
      <span>{{ layer.title }}</span>
    </div>
    <img [src]="layer.legendGraphicUrl!">
  </div>
</div>
