@use "styles";

:host {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row:hover {
  background-color: styles.$color-very-very-light;
}

.sub-layers {
  margin-left: styles.$space-base;
}

app-checkbox {
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: styles.$space-small;
}

app-icon-button {
  margin-left: styles.$space-small;
}
