<div class="row">
  <app-checkbox [title]="layer.title"
    [checked]="layer.isVisible()"
    [tooltipText]="getTooltipText()"
    (checkedChange)="onLayerSelectionClicked($event)">
  </app-checkbox>
  @if (hasControlButtons) {
    <div class="button-wrapper">
      @if (!isLast) {
        <app-icon-button iconName="move-down"
          [size]="'small'"
          [title]="'layer-list.move-down' | translate"
          (click)="onMoveDownClicked()"
          >
        </app-icon-button>
      }
      <app-icon-button iconName="trash-2"
        [size]="'small'"
        [title]="'layer-list.delete' | translate"
        (click)="onDeleteClicked()">
      </app-icon-button>
    </div>
  }
</div>
@if (hasSubLayers) {
  <div class="sub-layers">
    @for (layer of subLayers(); track layer) {
      <app-layer-list-item
        [layer]="layer"
        [hasControlButtons]="false">
      </app-layer-list-item>
    }
  </div>
}
