@use "../../../styles";

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

:host:hover {
  background-color: styles.$color-very-very-light;
}

input:hover,
.input-wrapper:hover {
  cursor: pointer;
}

.input-wrapper {
  padding: styles.$space-tiny;
}

.deselected {
  color: styles.$color-gray-mid;
}

label {
  padding-right: styles.$space-small;
}
