@use "../styles";

.layer-sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  max-width: 500px;
  max-height: 100%;
}

.sidebar {
  margin: styles.$space-base;
  padding: styles.$space-base;
}

.selection-sidebar-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  max-width: 500px;
  max-height: 100%;
}
