<app-map>
  <app-feature-layer [features]="featureSelectionService.selectedFeaturesOnMap[1]"></app-feature-layer>
  <app-measure-length-layer></app-measure-length-layer>
  <app-measure-area-layer></app-measure-area-layer>
</app-map>
<div class="layer-sidebar-wrapper">
  <app-layer-view class="sidebar-item"></app-layer-view>
  <app-control-panel></app-control-panel>
</div>
<div class="selection-sidebar-wrapper">
  <app-legend-graphic-view class="sidebar-item"></app-legend-graphic-view>
  <app-selection-view class="sidebar-item" *ngIf="featureSelectionService.hasSelectionOnMap"></app-selection-view>
</div>
