<div>
  <app-drop-down [values]="layerTypeValues"
                 [title]="'layer-form.layer-type' | translate"
                 [(value)]="layerType"></app-drop-down>
  <app-input-text [placeholder]="'layer-form.title-placeholder' | translate"
                  [title]="'layer-form.title' | translate"
                  [(text)]="layerTitle"></app-input-text>
  <app-input-text [placeholder]="'layer-form.layer-url-placeholder' | translate"
                  [title]="'layer-form.layer-url' | translate"
                  [(text)]="layerUrl"></app-input-text>
  <app-input-text [placeholder]="'layer-form.name-id-placeholder' | translate"
                  [title]="'layer-form.name-id' | translate"
                  [(text)]="layerName"></app-input-text>
  <app-input-text [placeholder]="'layer-form.attribution-placeholder' | translate"
                  [title]="'layer-form.attribution' | translate"
                  [(text)]="layerAttribution"></app-input-text>
  <app-checkbox [title]="'layer-form.queryable' | translate"
                [(checked)]="layerIsQueryable"></app-checkbox>
</div>
<div class="button-wrapper">
  <app-icon-text-button [text]="'layer-form.abort' | translate" iconName="x"
                        (click)="onAbortClicked()"></app-icon-text-button>
  <app-icon-text-button [text]="'layer-form.save' | translate" iconName="save"
                        (click)="onSaveClicked()"
                        [enabled]="canSave()"></app-icon-text-button>
</div>
