@for (layer of layers; track layer.trackKey) {
  <div class="layer-list-wrapper">
    <div class="layer-name">
      <svg lucideIcon="layers-2"></svg>
      <span>{{ layer.title }}</span>
    </div>
    <div class="feature-table-wrapper">
      <table class="data-table">
        @for (feature of features.get(layer); track feature.getId()) {
          <tr class="selectable" [class.active]="selectedFeature === feature"
            (click)="onFeatureSelected(layer, feature)">
            <td>{{ getNameForFeature(feature) }}</td>
          </tr>
        }
      </table>
    </div>
  </div>
}
