@use "styles";

:host {
  display: flex;
  flex-direction: row;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 400px;
  min-height: 200px;
}
