@use "styles";

button {
  display: flex;
  flex-direction: row;

  lucide-angular {
    margin-right: styles.$space-small;
  }

  &.active {
    background-color: styles.$color-light;

    &:hover {
      background-color: styles.$color-mid;
    }
  }

  &:disabled {
    background: styles.$color-gray-very-light;
    color: styles.$color-gray-mid;
    pointer-events: none;

    lucide-angular {
      svg {
        color: styles.$color-gray-mid !important;
      }
    }
  }
}
