<app-icon-button class="close-button"
                 [shadow]="true"
                 [iconName]="expanded ? 'chevron-up' : 'chevron-down'"
                 (click)="expanded = !expanded">
</app-icon-button>
<app-layer-list [expanded]="expanded" [class.extra-margin]="!expanded"></app-layer-list>
<div [hidden]="!expanded">
  <hr/>
  <app-edit-controls></app-edit-controls>
  <hr/>
  <div class="footer">
    <span class="footer-label">
      {{ "TinyGisViewer v" + version }}
      <a [href]="sourceRepoUrl" target="_blank">GitHub</a>
    </span>
    <app-language-selection></app-language-selection>
  </div>
</div>
