@use "../../../../styles";
@use "sass:math";

:host {
  @extend .shadow;

  display: flex;
  flex-direction: column;
  position: relative;

  background-color: styles.$color-background;
  border-radius: styles.$border-radius;

  min-height: styles.$space-base * 1.5;
}

.extra-margin {
  margin-right: styles.$space-base;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: styles.$space-small;
  margin-right: -(styles.$space-base * 1.25);
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.footer-label {
  color: styles.$color-gray-mid;
  font-size: styles.$font-size-small;
}
