<button class="flat icon-button close-button shadow" (click)="expanded = !expanded">
  <lucide-angular name="chevron-left" *ngIf="expanded"></lucide-angular>
  <lucide-angular name="chevron-right" *ngIf="!expanded"></lucide-angular>
</button>
<app-layer-list [expanded]="expanded" [class.extra-margin]="!expanded"></app-layer-list>
<div [hidden]="!expanded">
  <hr/>
  <app-edit-controls></app-edit-controls>
  <hr/>
  <div class="footer">
    <span class="footer-label">
      {{ "TinyGisViewer v" + version }}
      <a [href]="sourceRepoUrl" target="_blank">GitHub</a>
    </span>
    <app-language-selection></app-language-selection>
  </div>
</div>
