@use "sass:math";

// Use material design colors: https://material.io/design/color/the-color-system.html#tools-for-picking-colors (at the bottom of the page under "2014 Material Design color palettes")

// Colors (hue=210, increasing saturation and decreasing value):
$color-ultra-light: #e1eaf2;
$color-very-very-light: #cee0f2;
$color-very-light: #b2d0ed;
$color-light: #9cc0e5;
$color-mid: #7aacde;
$color-dark: #478acc;
$color-very-dark: #246bb3;
// Grey-scale:
$color-background: #ffffff;
$color-gray-near-white: #eeeeee; // #200
$color-gray-very-light: #e0e0e0; // #300
$color-gray-light: #cecece; // #between 300 and 400
$color-gray-mid: #757575; // #600
$color-gray-dark: #616161; // #700
$color-gray-dark-transparent: #61616150; // #900
$color-gray-very-dark: #212121; // #900
$color-gray-very-dark-transparent: #21212120; // #900
// Notifications:
$color-error-light: #ef5350; // #400 Red
$color-error: #f44336d9; // #500 Red

// Spacings:
$space-base: 1rem;
$space-tiny: math.div($space-base, 3);
$space-small: math.div($space-base, 2);
$space-large: $space-base * 2;
$space-huge: $space-base * 3.5;

$border-radius: $space-small;

$font-size-normal: 1rem;
$font-size-small: 0.75 * $font-size-normal;

* {
  font-family: DejaVu Sans, sans-serif;
  color: $color-gray-very-dark;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-size: $font-size-normal;
}

span,
p,
button,
input,
select {
  font-size: $font-size-normal;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: $space-small;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid $color-gray-light;
}

button {
  display: flex;
  align-items: center;

  height: $space-base * 2.5;
  padding-left: $space-small;
  padding-right: $space-small;

  background-color: $color-very-very-light;

  border: none;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    background-color: $color-very-light;
  }

  &:disabled {
    background: $color-gray-very-light;
    color: $color-gray-mid;
    pointer-events: none;

    lucide-angular {
      svg {
        stroke: $color-gray-mid;
      }
    }
  }

}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $space-base * 2.5;
  height: $space-base * 2.5;

  &.round {
    width: $space-base * 3;
    height: $space-base * 3;
    border-radius: $space-base * 1.5;
  }
}

input[type="text"],
textarea {
  // So when setting "width", the input/textarea outer size really matched the given width. Otherwise the inner width
  // would be set. When then using "width:100px" we would actually have a width of e.g. 122px
  // (100px + 2 * 10px padding + 2 * 1px border). The "border-box" value prevents this strange behavior.
  box-sizing: border-box;
  min-height: $space-large;
  padding: $space-small;
  margin: 0;

  border: 1px solid $color-mid;
  border-radius: $border-radius;

  //flex-grow: 1;
  //min-width: 0;

  &::placeholder {
    font-size: $font-size-small;
  }

  &:focus {
    border: 1px solid $color-dark;
    outline: 1px solid $color-dark;
  }
}

lucide-angular {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: $space-base * 1.5;
    height: $space-base * 1.5;
    stroke-width: 1.65;
  }
}

select {
  height: $space-large;
  background-color: white;
  border: 1px solid $color-light;

  &:hover {
    background-color: $color-very-very-light;
  }
}

hr {
  margin-top: $space-base;
  margin-bottom: $space-base;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
}

.data-table {
  flex-grow: 1;
  border-collapse: collapse;
  overflow-y: scroll;

  tr {
    th {
      text-align: start;
    }

    td,
    th {
      min-width: 150px;
      border: 1px solid $color-gray-very-light;
      padding: $space-small;
      vertical-align: baseline;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: $color-gray-near-white;
    }
  }
}

.ol-attribution {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  bottom: $space-base !important;
  right: $space-base !important;

  * {
    font-size: 0.9rem !important;
  }

  ul {
    padding-left: $space-small !important;
  }

  .ol-attribution-collapse {
    font-size: 2rem !important;
    font-weight: lighter;
    height: $space-base * 2.5 !important;
    width: $space-base * 2.5 !important;
    line-height: 2.3rem !important; // magic number to vertically center the ">" character
    text-align: center !important;;
    display: inline-block;
  }

  & button {
    height: $space-base * 2.5 !important;
    width: $space-base * 2.5 !important;
    margin: 0 !important;
    outline: none !important;
    background-color: $color-very-light !important;
    font-weight: unset !important;

    &:hover {
      background-color: $color-light !important;
      cursor: pointer !important;
      outline: unset !important;
    }
  }
}

.ol-scale-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  bottom: $space-base !important;
  left: $space-base !important;

  padding: unset !important;
  padding-left: $space-small !important;
  padding-right: $space-small !important;
  height: $space-base * 2.5 !important;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

  * {
    font-size: 0.9rem !important;
  }

  .ol-scale-line-inner {
    transition: unset !important;
    padding-bottom: $space-tiny * 0.75;
  }
}
