@use "styles";

.lang-label {
  font-size: styles.$font-size-small;
  padding-left: styles.$space-tiny;
  padding-right: styles.$space-tiny;
  text-decoration-line: underline;

  &:hover {
    cursor: pointer;
  }
}

.current-lang {
  color: styles.$color-very-dark;
}
